@import url('https://fonts.googleapis.com/css?family=Raleway:200');
body{
  text-align: center;
  background-color: white;
}


.productContainer {
  display: flex;
  flex-wrap: wrap;
}
.productContainer > .link {
  text-align: center;
  width: 300px;
  box-shadow: 0 0 10px #463636;
  margin: 10px;
}

.productContainer > .link:hover {
  background-color: lightgray;
}
#cloud{
  padding-top: 10px;
  height: 465px;
  width: 800px;
}
@keyframes example{
  0% {
    color: red;
    transform: rotate(0) translate3D(-50%, -50%, 0);
    
  }
 

 

}
h1{
  margin: 1em 0 0.5em 0;
	color: #343434;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;   
	font-size: 48px;
	line-height: 42px;
  text-transform: uppercase;
  color: black;
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: 1;
	text-shadow: 0 2px white, 0 3px #777;
}
/* .css-typing{
margin: 0.8em 0 0.5em 0;
color: #333;
font-weight: normal;
font-family: 'Orienta', sans-serif;
font-size: 20px;
text-align: left;
line-height: 40px;
padding : 1em;
width: 100%;
height: 200px;
box-sizing: border-box;


} */
#box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 28%;
  width: 600px;
  height: 200px;
  color: black;
  font-weight: bold;
  font-family: 'Raleway';
  font-size:20px;
}
.gradient-border {
  --borderWidth: 3px;
  background: white;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.site-footer
{
  background-color:#26272b;

  font-size:15px;
  height: 77px;
 
  color:#737373;
}
.copyright-text{
  margin-top: 30px;
}

.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}

.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  margin-bottom:0px;
  border-radius:100%;
  background-color:#33353d
}

.socal-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}

.social-icons li
{
  text-decoration: black;
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  text-decoration: none;
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  /* background-color:#00aced */
  background-color:green;
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
.about-p{
  display: block;
  font-weight: bold;
  font-family: 'Raleway';
  text-align: left;
  padding-left: 60px;
  padding-right: 60px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}