body{
  text-align: center;
  background-color: white;
}


.productContainer {
  display: flex;
  flex-wrap: wrap;
}
.productContainer > .link {
  text-align: center;
  width: 300px;
  box-shadow: 0 0 10px #463636;
  margin: 10px;
}

.productContainer > .link:hover {
  background-color: lightgray;
}
#cloud{
  height: 500px;
  width: 600px;
}